@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Pangolin&family=Rock+Salt&family=UnifrakturCook:wght@700&display=swap');

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}


a {
    color: #929BD8;
    font-weight: bold;
	text-decoration: none;
}
a:hover, a:active {
    color: #B0B9F6;
    transition: 0.4s;
	text-decoration: underline;
}

audio {
	color: #fff;
	filter: invert(100%);
}


/*   fonts   */
/*   
	font-family: "UnifrakturCook", cursive;
	font-family: "Rock Salt", cursive;
	font-family: "Creepster", system-ui;
	font-family: "Pangolin", cursive;
*/


.main-header {
	text-align: center;
	font-family: "Rock Salt", cursive;
	width: 100%;
	margin-top: 15px;
}


.intro {
	text-align: center;
	font-size: 20px;
	font-family: "Pangolin", cursive;
	margin-top: 50px;
	margin-bottom: 0;
}


.albums {
	text-align: left;
	float: left;
	width: fit-content;
	font-size: 20px;
	font-family: "Pangolin", cursive;
	margin-top: 0;
	margin-bottom: 50px;
	margin-left: 10px;
	line-height: 40px;
}
.albums > p {
	margin: 0;
}
.albums > p:nth-child(2),
.albums > p:nth-child(4) {
	margin-left: 15px;
}
.albums > ul {
	list-style: none;
	font-size: 20px;
	margin-bottom: 5px;
}
.albums > ul > li:nth-child(n) {
	line-height: 25px;
	padding-bottom: 15px;
}


.songs-intro {
	float: inline-end;
	text-align: left;
	font-family: "Pangolin", cursive;
	font-size: 20px;
	width: 100%;
}
.songs-intro > p {
	margin-left: 10px;
}
.songs {
	float: inline-start;
	text-align: center;
	margin-top: 20px;
	margin-left: 10px;
	columns: 2;
	margin-top: 20px;
	font-family: "Rock Salt", cursive;
}


.members {
	float: right;
	text-align: center;
	width: fit-content;
	font-family: "Pangolin", cursive;
	font-size: 20px;
	margin-right: 50px;
	margin-top: 50px;
	line-height: 40px;
}

/*   animations   */
@keyframes members-loop-images {
	0% {
		background-image: url(../imgs/m-shadows.jpg);
		background-size: cover;
		background-position: center;
	}
	25% {
		background-image: url(../imgs/synyster-gates.jpg);
		background-size: cover;
		background-position: center;
	}
	50% {
		background-image: url(../imgs/zacky-vengeance.jpg);
		background-size: cover;
		background-position: center;
	}
	75% {
		background-image: url(../imgs/johnny-christ.jpg);
		background-size: cover;
		background-position: center;
	}
	100% {
		background-image: url(../imgs/the-rev.jpg);
		background-size: cover;
		background-position: center;
	}
}
.members-loop-images {
	position: relative;
	animation: members-loop-images 60s infinite;
	background-size: cover;
	width: 600px;
	height: 600px;
	margin-bottom: 10px;
}

@keyframes members-loop-bio {
	0% {
		content: 'M. Shadows е вокалът на бандата';
	}
	30% {
		content: 'Synyster Gates е главният китарист';
	}
	55% {
		content: 'Zacky Vengeance е вторият китарист';
	}
	80% {
		content: 'Johnny Christ свири на бас китара';
	}
	100% {
		content: 'The Rev беше барабанистът ):';
	}
}
.members-loop-bio p::after {
	content: 'M. Shadows е вокалът на бандата';
	display: block;
	position: relative;
	animation: members-loop-bio 60s infinite;
}

@keyframes members-loop-names {
	0% {
		content: 'M. Shadows';
	}
	30% {
		content: 'Synyster Gates';
	}
	55% {
		content: 'Zacky Vengeance';
	}
	80% {
		content: 'Johnny Christ';
	}
	100% {
		content: 'The Rev';
	}
}
.members-loop-names::after {
	content: 'M. Shadows';
	display: block;
	position: relative;
	animation: members-loop-names 60s infinite;
	font-family: "Creepster", system-ui;
	font-size: 40px;
	margin-bottom: 10px;
}


body {
	background-color: #000;
	color: #fff;
}

